
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Assignment3Layout.cshtml";
}

<div class="jumbotron">
    <h1>Learn, Share, Build!</h1>
    <p class="lead">
        Each month, over 50 million developers come to Stack Overflow to learn, share their knowledge,
        and build their careers.
    </p>
    <p>Join the world's largest developer community.</p>
</div>
<div class="contact">
    <h3>Contact us:</h3>
    <p>Phone:416-000-0001</p>
    <p>Email:ChongZhu0571@gmail.com</p>
</div>


