@model IEnumerable<Assignment3.Models.Question>

@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Assignment3Layout.cshtml";
}

<div class="rank_display">
    <h2>The most 10 hottest Questions</h2>
    <table>
        @{
            int i = 1;
            foreach (var item in Model)
            {
                <tr class="table_tr">
                    <td class="table_td">
                        @i.  @Html.ActionLink(item.questionName.ToString(), "GetQuestion", "Question", new { id = item.questionID }, null)
                    </td>

                </tr>
                i++;



            }
        }

    </table>
</div>
